nvim/.config/nvim/lazy-lock.json
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompdump*
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/.zprofile
zsh/.config/zsh/.zsh_sessions
shell/.config/shell/vars
ssh/.ssh/config.local

# opencode plugin dependencies
opencode/.config/opencode/node_modules/
opencode/.config/opencode/package-lock.json
opencode/.config/opencode/bun.lock
opencode/.config/opencode/bun.lockb
