@import "mocha.css";

/* Global */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: .9rem;
  border-radius: 1rem;
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: shade(@base, 0.9);
}

@keyframes blink_red {
  to {
    background-color: @red;
    color: @base;
  }
}

.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock, #battery, #network, #pulseaudio, #wireplumber, #tray, #idle_inhibitor, #mpd {
  padding-left: .6rem;
  padding-right: 1rem;
}

/* Bar */
window#waybar {
  background: transparent;
}

window > box {
  background-color: transparent;
  margin: 0.3rem;
  margin-bottom: 0;
}

/* Workspaces */
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces:hover {
  background-color: @green;
}

#workspaces button {
  padding: .1rem .4rem;
  color: @red;
  background: transparent;
}

#workspaces button.focused {
  color: @blue;
}


#workspaces button:hover {
  color: @rosewater;
}

/* Tooltip */
tooltip {
  background-color: @base;
}

tooltip label {
  color: @rosewater;
}

/* battery */
#battery {
  color: @mauve;
}
#battery.full {
  color: @green;
}
#battery.charging{
  color: @teal;
}
#battery.discharging {
  color: @peach;
}
#battery.critical:not(.charging) {
  color: @pink;
}
#custom-powermenu {
  color: @red;
}

/* extra */
#clock {
  color: @rosewater;
}
#idle_inhibitor {
  color: @foreground;
}
#idle_inhibitor.activated {
  color: @green;
}
#pulseaudio {
  color: @mauve;
}
#network {
  color: @pink;
}
#network.disconnected {
  color: @foreground;
}
