@import "../../.cache/wal/colors-waybar.css";

/* -- Global rules -- */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0px;
}

#waybar {
  background: transparent;
  color: @foreground;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#language,
#battery {
  background-color: @background;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#clock,
#cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the right */
#clock,
#temperature,
#language,
#battery.2 {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#clock {
  background: @background;
}

#cpu {
  background: @background;
}

#cpu.warning {
  color: #E09866;
}

#cpu.critical {
  color: #D47D72;
}

#memory {
  background: @background;
}

#memory.warning {
  color: #E09866;
}

#memory.critical {
  color: #D47D72;
}

#disk {
  background: @background;
}

#disk.warning {
  color: #E09866;
}

#disk.critical {
  color: #D47D72;
}

#temperature {
  background: @background;
}

#temperature.warning {
  color: #E09866;
}

#temperature.critical {
  color: #D47D72;
}

/* Modules center */
#workspaces {
  background: @background;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: @color5;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: @color15;
}

#workspaces button.active {
  color: @color14;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: @color14;
}

#workspaces button.active:hover {}

/* Modules right */
#tray {
  background: @background;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#tray button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#idle_inhibitor {
  background: @background;
  padding-right: 15px;
}

#pulseaudio {
  color: @color14;
  min-width: 55px;
  background: @background;
}

#network {
  background: @background;
  padding-right: 13px;
}

#battery {
  color: #92AF8A;
  background: @background;
  padding-right: 10px;
}

#battery.charging {
  color: #92AF8A;
}

#battery.warning:not(.charging) {
  color: #E09866;

}
#battery.critical:not(.charging) {
  color: #D47D72;
}

#battery.2 {
  padding-right: 20px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: @red;
    color: @surface0;
  }
}
